<header class="bg-white shadow-sm border-b border-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex items-center">
        <div class="flex items-center space-x-2">
          <!--          logo-->
          <span class="text-[28px]  tracking-[4px] font-[600]  font-montserrat text-gray-900">SafariRentals</span>
        </div>
      </div>

      <!-- Navigation -->
      <nav class="hidden md:flex items-center space-x-8">
        <a routerLink="/vehicles" class="text-gray-700 hover:text-blue-600 font-medium transition-colors">Home</a>
        <a routerLink="/vehicles" class="text-gray-700 hover:text-blue-600 font-medium transition-colors">Cars</a>
        <a routerLink="/about-us" class="text-gray-700 hover:text-blue-600 font-medium transition-colors">About</a>
      </nav>

      <div class="flex items-center space-x-6">
        <button
          *ngIf="!isLoggedIn"  class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 font-montserrat cursor-pointer rounded-lg font-medium transition-colors">
          <span  (click)="navigateToLogin()">Sign In</span>
        </button>
        <span *ngIf="isLoggedIn" class="text-blue-400 px-4 py-2 font-montserrat cursor-pointer rounded-lg font-medium">Welcome Back, {{userName}}</span>
        <span *ngIf="isLoggedIn" (click)="logout()" class="bg-transparent border border-gray-400 px-3 py-2 rounded-lg cursor-pointer font-montserrat hover:bg-gray-100 transition-colors font-semibold text-[12px]">Log Out</span>

        <!-- Mobile menu button -->
        <button class="md:hidden p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
        </button>

        <!-- Logout Modal -->
        <div
          *ngIf="showLogoutModal"
          class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
        >
          <div class="bg-white p-6 rounded-xl shadow-lg max-w-sm text-center">
            <h2 class="text-lg font-semibold font-montserrat text-gray-800">Logged Out</h2>
            <p class="text-sm text-gray-600 mt-2">You have been successfully logged out.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
