<header>
<app-header></app-header>
</header>

<div class="min-h-screen flex">
  <aside class="w-64 bg-white shadow text-gray-700 p-6 border">
    <h2 class="text-xl font-bold mb-6">Admin Panel</h2>
    <nav class="space-y-4">
      <div *ngIf="currentUser.role === 'ADMIN'" class="space-y-4">
        <a routerLink="./" class="block hover:text-blue-500">Overview</a>
        <a routerLink="/admin/add-vehicles" class="block hover:text-blue-500">Add Car</a>
        <a routerLink="/admin/manage-cars" class="block hover:text-blue-500"
        >Manage Cars</a
        >
      </div>

      <a routerLink="./bookings" class="block hover:text-blue-500"
      >Manage Bookings</a
      >
    </nav>
  </aside>

  <main class="flex-1 p-10 bg-gray-100">
    <router-outlet></router-outlet>
  </main>
</div>
